*.bak
*.cache
*.db
*.gz
*.lck
*.log
*.sqlite

plugins/AuthMe/*.dat
plugins/AuthMe/playerdata/
plugins/dynmap/markers.yml
plugins/dynmap/ids-by-ip.txt
plugins/dynmap/web/tiles/*
!plugins/dynmap/web/tiles/_markers_/
plugins/dynmap/web/tiles/_markers_/*
!plugins/dynmap/web/tiles/_markers_/*.png
