# Common
*.bak
*.bal
*.cache
*.db
*.gz
*.lck
*.log
*.log.*
*.txt.*
*.sqlite
*.sqlite3
*.swp
*.old
*.dat
*.groupdata
*.pending

# Data
plugins/**/*.jar
plugins/AuthMe/playerdata
plugins/DiscordSRV/linkedaccounts.json
plugins/DiscordSRV/metrics.json
plugins/dynmap/colorschemes
plugins/dynmap/export
plugins/dynmap/markers
plugins/dynmap/renderdata
plugins/dynmap/texturepacks
plugins/dynmap/web
plugins/dynmap/hiddenplayers.txt
plugins/dynmap/ids-by-ip.txt
plugins/dynmap/LICENSE
plugins/dynmap/markers.yml
plugins/Multiverse-Core/scripts
plugins/Multiverse-Core/worlds.yml
plugins/Multiverse-Portals/portals.yml
plugins/Skinny/**/timestamp
plugins/Train_Carts/arrivaltimes.txt
plugins/Train_Carts/tickets.yml
plugins/Train_Carts/TrainProperties.yml
plugins/Train_Carts/SavedTrainProperties.yml
plugins/WorldEdit/schematics
plugins/WorldEdit/sessions
plugins/WorldEdit/nmsblocks
plugins/WorldGuard/worlds
plugins/WorldGuard/cache
plugins/WorldGuard/report.txt

# Abandoned Configuration
plugins/AdminCMD/Alias.yml
plugins/AdminCMD/LiesMich.txt
plugins/AdminCMD/ReadMe.txt
plugins/AdminCMD/banned.yml
plugins/AdminCMD/blacklist.yml
plugins/AdminCMD/commands.yml
plugins/AdminCMD/deathMessages.yml
plugins/AdminCMD/items.csv
plugins/AdminCMD/kits.yml
plugins/AdminCMD/motd.txt
plugins/AdminCMD/motdNewUser.txt
plugins/AdminCMD/news.txt
plugins/AdminCMD/permissions.yml
plugins/AdminCMD/rules.txt
plugins/AdminCMD/locales
plugins/AdminCMD/HelpFiles
plugins/AdminCMD/scripts
plugins/AdminCMD/userData
plugins/AdminCMD/worldData
plugins/AuthMe/messages.yml
plugins/AuthMe/messages_en.yml
plugins/AuthMe/messages_zh.yml
plugins/AuthMe/players.yml
plugins/AuthMe/spout.yml
