*.bak
*.cache
*.db
*.gz
*.lck
*.log
*.sqlite
*.sqlite3

plugins/AuthMe/*.dat
plugins/AuthMe/playerdata/
plugins/dynmap/*.pending
plugins/dynmap/markers.yml
plugins/dynmap/ids-by-ip.txt
plugins/dynmap/web
plugins/WorldEdit/schematics/
plugins/Train_Carts/*.dat
plugins/Train_Carts/*.groupdata
plugins/Train_Carts/tickets.yml
plugins/Train_Carts/TrainProperties.yml
plugins/Train_Carts/SavedTrainProperties.yml
plugins/WorldGuard/worlds/
plugins/Skinny/**/*.dat
plugins/Skinny/**/timestamp
plugins/Multiverse-Core/scripts/
plugins/Multiverse-Core/worlds.yml
plugins/Multiverse-Portals/portals.yml
plugins/DiscordSRV/linkedaccounts.json
plugins/DiscordSRV/metrics.json